@font-face {
    font-family: QuietMeows;
    src: url(QuietMeows.ttf);
}
html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
footer {
    padding-top: 20px;
    padding-bottom: 10px;
    text-align: center;
}
body {
    padding-top: 70px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    position: flex;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.4);
}
li {
    float: left;
    height: 100%;
}
li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 6px 16px;
    padding-top: 12px;
    padding-bottom: 15px;
}
.active {
    background-color: #5b5b5b;
}
li:last-child {
    float: right;
}
li a:hover:not(.active) {
    background-color: #111;
  }
.logo {
    font-family: QuietMeows;
    font-size: 30px;
    padding-bottom: 10px;
    padding-top: 4px;
}
.product-container {
    width: 80%;
    display: inline-grid;
    grid-template-columns: auto auto auto;
}
.product-container div {
    margin: 0;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 5px 4px 0 rgba(0, 0, 0, 0.4);
    text-align: left;
}
.product-container h1, h2, h3, h4, p {
    margin: 10px;
}
.product-container img {
    width: 300px;
    padding-left: 10px;
}
@media (max-width: 1200px){
    .product-container {
        grid-template-columns: auto auto;
    }
}
@media (max-width: 900px){
    .product-container {
        grid-template-columns: auto;
    }
}