@font-face {
    font-family: QuietMeows;
    src: url(QuietMeows.ttf);
}
html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
footer {
    padding-top: 20px;
    padding-bottom: 10px;
    text-align: center;
}
body {
    padding-top: 55px;
    background-color: rgb(227, 227, 227);
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #19647E;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    position: flex;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.4);
}
li {
    float: left;
    height: 100%;
}
li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 6px 16px;
    padding-top: 12px;
    padding-bottom: 15px;
}
li:last-child {
    float: right;
}
li a:hover {
    background-color: #1c708c;
}
.logo {
    font-family: QuietMeows;
    font-size: 30px;
    padding-bottom: 10px;
    padding-top: 4px;
}
.product-container {
    width: 80%;
    display: inline-grid;
}
.product-container div {
    margin: 0;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.4);
    text-align: left;
    border-radius: 10px;
    background-color: white;
}
.product-container h1, h2, h3, h4, p {
    margin: 10px;
}
.product-container img {
    width: 100%;
    margin: 0 auto;
}
/* I tried making the following @media work, but even Mehdi couldn't figure out
   how to make it one column at mobile height 😓 */
@media (min-width: 1px) and (max-width: 420px) {
    .product-container {
        grid-template-columns: auto;
    }
}
@media (min-width: 421px) and (max-width: 1000px) {
    .product-container {
        grid-template-columns: auto auto;
    }
}
@media (min-width: 1001px) and (max-width: 1499px) {
    .product-container {
        grid-template-columns: auto auto auto;
    }
}
@media (min-width: 1500px){
    .product-container {
        grid-template-columns: auto auto auto auto;
    }
}